/* This is the main container that will occupy the side bars and post feed for home page. Note that it's not named container since Bootstrap has its own container and that causes issues with how this renders. */
.main-layout {
    width: 80vw;
    height: 85vh;
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.375);
}

/* This is for the left side bar (the flex: 1 statement ensures that each side bar takes up 1/5th of the entire container horizontally). */
.left-side-bar {
    flex: 1;
    background-color: aliceblue;
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Same logic used here for the right side bar as above, just that the border radius statements are dedicated for the top/bottom right corners of the bar. */
.right-side-bar {
    flex: 1;
    background-color: aliceblue;
    border: 2px solid rgba(0, 0, 0, 0.75);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* This is for the post feed itself (the flex: 3 statemenet ensures that the feed takes up 3/5th of the entire container horizontally). */
.post-feed {
    flex: 3;
    background-color: aliceblue;
    border: 2px solid rgba(0, 0, 0, 0.75);
}