/* Ensuring that the buttons are space 15 px away from the top and left borders of the side bar. */
.spacing {
    margin-top: 15px;
    margin-left: 20px;
}

/* This rule set makes the lines separating the links to other pages in the left side bar more appealing. */
.left-side-bar-line {
    border-radius: 2px;
    height: 4px;
    background-color: black;
    opacity: 75%;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* This rule set makes the actual links in the left side bar match the theme of the site. */
.left-side-bar-nav {
    height: 44px;
    background-color: aliceblue;
    font-size: 18px;
    border: 1px solid aliceblue;
    border-radius: 22px;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
}

/* This ruleset makes it so the button will slightly increase in size when the user is hovering over it and also change color slightly. */
.left-side-bar-nav:hover {
    transform: scale(1.05);
    background-color: lightblue;
    border-color: lightblue;
    color: black;
}

/* This rule set makes it so the button will increase even more in size after being clicked (and the text becomes bolder). */
.left-side-bar-nav:active {
    transform: scale(1.10);
    background-color: lightblue;
    border-color: lightblue;
    color: black;
    font-weight: bold;
}

/* The rule sets below are dedicated to styling the pfp/username button and the dropdown menu that is shown when it's clicked. */
/* FIGURE OUT HOW TO GET THIS BUTTON TO APPEAR AT THE BOTTOM OF THE LEFT SIDEBAR W/O USING PIXELS FORCEFULLY. */
.profile-dropdown {
    margin-top: auto;
    position: relative;
    display: inline-block;
}

.pfp-button {
    height: 44px;
    align-items: center;
    background-color: aliceblue;
    border: 1px solid aliceblue;
    border-radius: 22px;
    padding-left: 15px;
    padding-right: 15px;
}

.pfp-button:hover {
    transform: scale(1.05);
    background-color: lightblue;
    border-color: lightblue;
    color: black;
}

.pfp-button:active {
    transform: scale(1.10);
    background-color: lightblue;
    border-color: lightblue;
    color: black;
    font-weight: bold;
}

.pfp {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 18px;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: lightblue;
    min-width: 150px;
    box-shadow: 0px 4px 8px (0, 0, 0, 0.1);
    z-index: 1;
    flex-direction: column;
}

.dropdown-content a {
    padding: 10px 12px;
    text-decoration: none;
    color: black;
    display: block;
}

.profile-dropdown.show .dropdown-content {
    display: flex;
}