/* This rule set is used to style the actual top bar itself (size of text, etc). */
.top-bar-content {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 15px;
    font-size: xx-large;
    font-weight: bold;
}

/* The rule sets below are dedicated to styling the pfp/username button and the dropdown menu that is shown when it's clicked. */
.profile-dropdown {
    margin-left: auto;
    position: relative;
}

.pfp-button {
    height: 56px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;
    border: 4px solid rgba(0, 0, 0, 0.75);
    color: black;
    border-radius: 28px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.375);
}

.pfp-button:hover {
    transform: scale(1.05);
    background-color: lightblue;
}

.pfp-button:active {
    transform: scale(1.10);
    background-color: lightblue;
    font-weight: bold;
}

.pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 18px;
    color: black;
    max-width: 100px; /* The CSS rules from here to the end of this rule set ensure that the username is truncated if it is too long. */
    overflow: hidden; /* This ensures that the button does not end up being too wide. */
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block; 
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute; /* Allows the dropdown to appear above the other elements on the webpage. */
    z-index: 1; /* This sets the dropdown to appear above the other elements on the webpage on the z-axis. */
    top: 100%; /* Places dropdown right below the button */
    right: 0; /* Aligns dropdown to right edge of button. */
    width: 120px; 
    background-color: ghostwhite;
    border: 4px solid rgba(0, 0, 0, 0.75);
    border-radius: 22px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.375);
}

.dropdown-content a, .dropdown-content button {
    height: 44px;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    border-radius: 18px; /* Since border width of dropdown is 4px and has a radius of 22px, this should be 22 - 4 = 18px. */
    text-decoration: none;
    color: black;
    background-color: ghostwhite;
}

.dropdown-content a:hover, .dropdown-content button:hover {
    background-color: lightblue;
}

.dropdown-content a:active, .dropdown-content button:active {
    background-color: lightblue;
    font-weight: bold;
}
