/* This rule set is used to style the actual top bar itself (size of text, etc). */
.top-bar-content {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 15px;
    font-size: xx-large;
    font-weight: bold;
}

/* The rule sets below are dedicated to styling the pfp/username button and the dropdown menu that is shown when it's clicked. */
.profile-dropdown {
    margin-left: auto;
    position: relative;
}

.pfp-button {
    height: 56px;
    font-size: 18px;
    align-items: center;
    background-color: ghostwhite;
    border: 4px solid rgba(0, 0, 0, 0.75);
    border-radius: 28px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.375);
}

.pfp-button:hover {
    transform: scale(1.05);
    background-color: lightblue;
    border: 4px solid rgba(0, 0, 0, 0.75);
    color: black;
}

.pfp-button:active {
    transform: scale(1.10);
    background-color: lightblue;
    border: 4px solid rgba(0, 0, 0, 0.75);
    color: black;
    font-weight: bold;
}

.pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-size: 18px;
    color: black;
}

.dropdown-content {
    display: inline-block;
    flex-direction: column;
    position: absolute; /* Allows the dropdown to appear above the other elements on the webpage. */
    z-index: 1; /* This sets the dropdown to appear above the other elements on the webpage on the z-axis. */
    top: 100%; /* Places dropdown right below the button */
    right: 0; /* Aligns dropdown to right edge of button. */
    background-color: ghostwhite;
    border: 4px solid rgba(0, 0, 0, 0.75);
    border-radius: 22px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-content a {
    height: 44px;
    font-size: 18px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid ghostwhite;
    border-radius: 22px;
    text-decoration: none;
    color: black;
    display: block;
}

.dropdown-content a:hover {
    background-color: lightblue;
}
